.headerContainer {
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  background: var(--gray-700);
}

.mainContainer {
  width: 40%;
  margin: -1.5rem auto 0;
}

.mainContainer .taskForm {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}

.taskForm input {
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  background: var(--gray-500);
  color: var(--gray-100);
  font-size: 1.2rem;
  outline: none;
}

.taskForm input:focus, .taskForm input:valid {
  outline: 1px solid var(--purple-500);
}

.taskForm button {
  padding: 0 1rem;
  border-radius: 8px;
  background-color: var(--blue-700);
  color: var(--gray-100);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  transition: background 0.2s;
}

.taskForm button:hover {
  background-color: var(--blue-500);
}